.character__card{
    width: 400px;
    max-width: 85vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 18px 53px 0 rgba(0, 0, 0, 0.3);
}
.character__card:hover{
    box-shadow: 0px 18px 53px 0 rgba(0, 0, 0, 0.6);

}
.cards{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.swipe{
    position: absolute;
}
.character__card h2{
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: #fff;
    font-size: 0.95em;
    letter-spacing: 1px;
}